@use "colors" as *;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@mixin mq($size) {
    @if ($size== "md") {
        @media (min-width: 768px) {
            @content;
        }
    }
    @if ($size== "sm") {
        @media (min-width: 768px) {
            @content;
        }
    }
}

html {
    box-sizing: border-box;
    font-family: "Jakarta Sans", sans-serif;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    background-color: $clr-neutral-100;

    /*demo only*/
    min-height: 100dvh;
    display: grid;
    place-content: center;
}
